<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8 text-center font-italic border border-secondary mt-5">
      <p class="m-2 description"><strong>ReelReviews</strong> is a social media platform for keeping track of and sharing reviews on movies you have watched. Simply <strong>Log In/Sign</strong> Up by clicking on the buttons at the top right hand-corner, and get reviewing!</p>
      <p class="mt-2"><em style="font-size: 20px;">"Elementary, my dear Watson"</em></p>
      <p><em style="font-size: 10px">-Sherlock Holmes</em></p>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<h3 class="text-center mt-4">It's as simple as:</h3>

<div class="row mt-4">
  <div class="col"></div>
  <div class="col bg-light text-center">
      <h4 class="mt-5">Log in or Sign up ...</h4>
  </div>
  <img class="col" src="./images/FightClub.png" 
    width="50" 
    height="400" 
    alt="Fight Club">
  <div class="col"></div>
</div>

<div class="row mt-4">
  <div class="col"></div>
  <img class="col" src="./images/Shawshank.png" 
      width="50" 
      height="400" 
      alt="Fight Club">
  <div class="col text-center bg-light">
    <h4 class="mt-5">... remember a movie you have either seen recently or watched ages ago ...</h4>
    </div>
  <div class="col"></div>
</div>

<div class="row mt-4">
  <div class="col"></div>
  <div class="col text-center bg-light">
    <h4 class="mt-5">... give it a rating, write a short review, and add any tags you feel match the movie's ~vibe~ ...</h4>
  </div>
  <img class="col" src="./images/Godfather.png" 
      width="50" 
      height="400" 
      alt="Fight Club">
  <div class="col"></div>
</div>
 
<div class="row mt-4">
  <div class="col"></div>
  <img class="col" src="./images/SoundOfMusic.png" 
    width="50" 
    height="400" 
    alt="Fight Club">
  <div class="col text-center bg-light">
    <h4 class="mt-5">... post for all your fellow users to see!</h4>
  </div>
  <div class="col"></div>
</div>

<div class="row mt-4">
  <div class="col-3"></div>
  <button class="btn btn-primary col-6 mt-4" type="submit" id="getStartedBtn">Get Started!</button>
  <div class="col-3"></div>
</div>

