<div class="card mt-5" style="
    width: 36rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #3aafa9;">
    <div class="card-body">
        <h2 class="card-title text-center mt-3">Create an account!</h2>
        <form>
            <div class="form-group mt-5">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder=example@gmail.com>
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputEmail1">Username</label>
                <input type="username" class="form-control" id="username"
                    placeholder="SomeCoolUsername">
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button id="createBtn" class="btn btn-primary mt-3">Submit</button>
            <div class="form-group">
                <p class="mt-3">Already a member? <a href="/login" class="card-link" id="loginBtn2">Log in</a></p>
            </div>
        </form>
    </div>
</div>

<script src="
https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
"></script>
<script src="/js/signup.js"></script>
