.navbar {
    background:url(https://patternuniverse.com/files/images/film-reel-pattern.gif);
    background-size: cover;
}


body {
    background: url(https://qph.cf2.quoracdn.net/main-qimg-95c1a3b81364683d389bb4eab7f3cc95);
    background-size: cover;
    background-color: azure;

}



#inputBox {
    width: 500px;
}

#home_card {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #3aafa9;
}

.test {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.description {
    font-size: 25px;
}

.change-color {
    color: whitesmoke;
}

